ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form {
    position:fixed;
    top:40%;
    left:43%;
}

.header {
    
    padding: 0px 2px;
    position: right;
    text-align:right;
    width: 100%
}
div.logo {
    display:block;
}

li {
    display: inline;
}

.header a {
    display: block;
    background: white;
    border: none;
    color: black;
    display: inline-block;
    padding:8px;
    text-decoration: none;
}

.header a:hover {
    color:grey;
    background-color: #f1f1f1;

}
.logo {
    width:100%;
    position:fixed;
    left:42%;
    top: 27%
}

 .logo img {
     left: 40%;
    
}
